.header {
  border-bottom: 1px solid #eaeaea;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  display: inline-block;
  padding: 8px 24px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .anchor:hover {
    color: #c0ffff;
  }
}
